
body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f6f2;
  color: #3e2c19;
  margin: 0;
  padding-bottom: 80px; 
}


header {
  background: linear-gradient(90deg, #b9935a, #a4773a);
  color: #fffdf8;
  text-align: center;
  padding: 25px 0;
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


main {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}


.categoria {
  margin: 40px 0 20px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #a4773a;
  border-bottom: 3px solid #b9935a;
  display: inline-block;
  padding-bottom: 5px;
}


.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 20px; 
  margin-bottom: 40px;
  justify-content: center; 
}

.producto {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  padding-bottom: 15px;
  max-width: 250px; 
  margin: 0 auto;    
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.producto img {
  width: 100%;          
  height: 200px;        
  object-fit: cover;    
  border-bottom: 3px solid #b9935a;
}

.producto h3 {
  margin: 15px 0 5px;
  color: #3e2c19;
  font-size: 1.2rem;
}

.producto p {
  margin: 0 15px 10px;
  font-size: 0.95rem;
  color: #5b4a36;
}

.producto .precio {
  background-color: #a4773a;
  color: #fff;
  padding: 8px 15px;
  border-radius: 30px;
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, #b9935a, #a4773a);
  color: #fffdf8;
  text-align: center;
  padding: 15px 0;
  font-size: 0.95rem;
  border-top: 3px solid #8b6b33;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

footer p {
  margin: 0;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #fff2d0;
}

footer span {
  color: #fff;
  font-weight: 600;
}


button {
  background-color: #b9935a;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #a4773a;
}

.navbar .nav-link {
  color: #333 !important;
  font-size: 1.1rem;
}

.navbar .nav-link:hover {
  color: #f39c12 !important;
}

.navbar-brand span {
  font-size: 1.3rem;
}

header img {
  border-radius: 50%;
}

.avatar-link {
  display: flex;
  align-items: center;   /* centra verticalmente */
  justify-content: center;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 36px;
  height: 36px;          /* AJUSTADO para que sea igual al contenedor */
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-link {
  padding-top: 2px;  /* opcional */
}